---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">i<span style="color:#FCC72C">Neuro</span></a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li class="active"><a id="aboutNav" href="about_i.html" >About</a></li>
          <li><a id="whatNav" href="what_i.html" >What we do</a></li>
          <li><a id="productsNav" href="products_i.html" >Products</a></li>
          <li><a id="researchNav" href="research_i.html" >Research</a></li>
          <li> <a id="contactNav" href="contact_i.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="about-section" id="fh5co-work-section" style="margin-top:70px;">
  <div class="container">
    <!--<div class="wind-portrait">
      <img class="image" src="assets/images/vane.png" alt="" >
    </div>-->
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Sharing pains with the patients <br>and their families</h3>
        <p>At Trineurotec, we are inspired by a shared vision and mission to treat ADHD. <br> We are a company that is not afraid of creating a new path <br>and providing a guiding light for those who would travel the same path.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Drug discovery for ADHD</h3>
        <p>To treat ADHD, people normally use DAT, SERT and NET inhibitor as treatment mechanism <br> but we consider utilizing all three at once to treat ADHD<br> by focusing on multi-targets, not a single target.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Global enterprise with unique technology, experience, and network</h3>
        <p>We develop animal models and perform combined research through the search for efficacy and discovery of neurodevelopmental disorder mechanisms. especially that of ADHD.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Focusing on multiple targets <br> and not on a single target</h3>
        <p>We provide a personalized solution matching patient’s developmental period to enhance brain function from infancy to adulthood (enhance development and prevent brain disorders).</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Trineurotec Drug Pipeline</h3>
        <p>Trineurotec synthesized about 150 kinds of triple inhibitors to set a chemical library which inhibits DAT, NET and SERT. Based on our chemical library, we make drug pipeline and proceed drug screening. From the pre-clinical experiment, we found that our compounds can also treat depression as well as ADHD.</p>
      </div>
    </div>
    <div class="portrait" style="margin-left: auto; margin-right: auto; margin-top: -130px;">
      <img src="assets/images/pipeline.png">
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Organization</h3>
      </div>
    </div>
    <div class="portrait-1">
      <img src="assets/images/organization.png">
    </div>


  </div>

</div>

</div>

</div>
