---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">Tri<span style="color:#FCC72C">neuro</span>tec</a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li class="active"><a id="aboutNav" href="about.html" >About</a></li>
          <li><a id="whatNav" href="what.html" >What we do</a></li>
          <li><a id="productsNav" href="products.html" >Products</a></li>
          <li><a id="researchNav" href="research.html" >Research</a></li>
          <li> <a id="contactNav" href="contact.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div id="fh5co-work-section" style="margin-top:70px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/puppy-1.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/puppy-2.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/puppy-3.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/puppy-4.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>
