---
layout: front_page
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

<nav class="navbar navbar-fixed-top navbar--color--ghost navbar--size--md" data-startColor="navbar--color--ghost" data-startSize="navbar--size--md" data-intoColor="navbar--color--white" data-intoSize="navbar--size--md">
  <div class="container">
    <h1 class="navbar-text"><a onclick="location.href='index.html';">Tri<span style="color:#FCC72C">neuro</span>tec</a></h1>
    <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
      <ul class="sf-menu" id="fh5co-primary-menu">
        <li>
          <a id="homeNav" href="#fh5co-page">Home</a>
        </li>
        <li><a id="aboutNav" href="#fh5co-work-section" >About</a></li>
        <li><a id="whatNav" href="#fh5co-services-section" >What we do</a></li>
        <li><a id="productsNav" href="#fh5co-content-section" >Products</a></li>
        <li><a id="researchNav" href="#fh5co-blog-section" >Research</a></li>
        <li><a id="contactNav" href="#fh5co-contact" >Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--
<div class="nav-header">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
  <h1 id="fh5co-logo"><a href="index.html">Tri<span style="color:#FCC72C">neuro</span>tec</a></h1>
  <! START #fh5co-menu-wrap -
  <nav id="fh5co-menu-wrap" role="navigation">
    <ul class="sf-menu" id="fh5co-primary-menu">
      <li class="active">
        <a href="index.html">Home</a>
      </li>
      <li><a href="#fh5co-work-section">About</a></li>
      <li><a href="#fh5co-services-section">What we do</a></li>
      <li><a href="#fh5co-content-section">Products</a></li>
      <li><a href="#fh5co-blog-section">Research</a></li>
      <li><a href="#fh5co-contact">Contact</a></li>
    </ul>
  </nav>
</div>-->

<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center"  style=" background: rgba(0,0,0,0.7) ;   background-size:cover;
  background-position:center center; background-attachment:fixed; background-image: url(assets/images/home-image-3.jpg);">
    <div class="desc animate-box">
      <h2 style="font-weight: 300;">Three targets<i style="color:#FCC72C; margin: 2px;">.</i>Twice a day<i style="color:#FCC72C; margin: 2px;">.</i>One pill</h2>
      <span>We make ADHD Therapeutics.</span>
      <span><a onclick="location.href='research.html';" href="research.html" class="btn btn-primary">Learn more</a></span>
    </div>
  </div>

</div>
<!-- end:header-top -->
<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/4.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/2.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/3.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/1.jpeg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Don’t Just Stand There</h3>
              <span>Illustration, Print</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fh5co-work-section -->
<div id="fh5co-services-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>What We Do</h3>
        <p>No.1 drug development company for ADHD and other neurodevelopment disorders</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-search"></i></span>
          <h3>Disease Model Development</h3>
          <p>Develop the disease model for developmental disorder such as ADHD</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-lab-flask"></i></span>
          <h3>Drug screening</h3>
          <p>Behavioral pharmacology, In vitro + in vivo mechanism research</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-user-tie"></i></span>
          <h3>Experiment or drug consultation</h3>
          <p>**** 여기에 들어갈 말 ****</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fh5co-services-section -->
<div id="fh5co-content-section">
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center animate-box">
        <h3 style="font-size: 30px;">Products</h3>
        <p>**** 여기에 들어갈 말 ****</p>
        <span><a class="btn btn-primary" onclick="location.href='products.html';" href="products.html">Learn more</a></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="fh5co-grid animate-box" style="background-image: url(assets/images/product1.jpg);">
        <a class="image-popup text-center" href="#">
          <div class="prod-title">
            <h3>Product 1</h3>
            <span>Product 1 description</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="fh5co-grid animate-box" style="background-image: url(assets/images/product2.png);">
        <a class="image-popup text-center" href="#">
          <div class="prod-title">
            <h3>Product 2</h3>
            <span>Product 2 description</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="fh5co-grid animate-box" style="background-image: url(assets/images/product3.png);">
        <a class="image-popup text-center" href="#">
          <div class="prod-title">
            <h3>Product 3</h3>
            <span>Product 3 description</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- fh5co-content-section -->
<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Research</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/5.jpg" alt=""></a>
          <div class="image-popup">
            <div class="prod-title">
              <p style="font-size: 15px; min-height: 120px;">High sucrose consumption during pregnancy induced ADHD-like behavioral phenotypes in mice offspring</p>
              <a onclick="location.href='../jekyll/update/2017/06/20/highsucrose.html';" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/7.jpg" alt=""></a>
          <div class="image-popup">
            <div class="prod-title">
              <p style="font-size: 15px; min-height: 120px;">Effects of ethanol exposure during early pregnancy in hyperactive, inattentive and impulsive behaviors and MeCP2 expression in rodent offspring</p>
              <a onclick="location.href='../jekyll/update/2017/06/20/ethanol.html';" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/6.jpg" alt=""></a>
          <div class="image-popup">
            <div class="prod-title">
              <p style="font-size: 15px; min-height: 120px;">Chronic exposure to ethanol of male mice before mating produces attention deficit hyperactivity disorder-like phenotype along with epigenetic dysregulation of dopamine transporter expression in mouse offspring</p>
              <a onclick="location.href='../jekyll/update/2017/06/20/chronic.html';" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fh5co-blog-section -->

<div id="fh5co-contact" class="animate-box">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title" style="margin-bottom: 50px;">Our Address</h2>
          <p></p>
          <ul class="contact-info">
            <li><i class="icon-location-pin"></i style="font-size:12sp;">Konkuk University Hwayang Dong, Kwangjin-Gu Seoul 143-701, Korea</li>
            <li><i class="icon-phone2"></i>82-2-2030-7834</li>
            <li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
            <li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
          </ul>
        </div>
        <!--
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </form>
  </div>
</div>

<div id="map" class="fh5co-map"></div>
</div>
</div>
