---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">Tri<span style="color:#FCC72C">neuro</span>tec</a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li><a id="aboutNav" href="about.html" >About</a></li>
          <li><a id="whatNav" href="what.html" >What we do</a></li>
          <li class="active"><a id="productsNav" href="products.html" >Products</a></li>
          <li><a id="researchNav" href="research.html" >Research</a></li>
          <li><a id="contactNav" href="contact.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- fh5co-content-section -->
  <div id="fh5co-blog-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <h3 style="margin-top: 70px;">Our Products</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/product1.jpg" alt=""></a>
            <div class="image-popup" href="#">
              <div class="prod-title">
                <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <a href="#" class="btn btn-primary" style="">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/product2.png" alt=""></a>
            <div class="image-popup" href="#">
              <div class="prod-title">
                <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <a href="#" class="btn btn-primary">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/product3.png" alt=""></a>
            <div class="image-popup" href="#">
              <div class="prod-title">
                <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <a href="#" class="btn btn-primary">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>

</div>
