---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">i<span style="color:#009688">Neuro</span></a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu sf-menu-i" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li><a id="aboutNav" href="about_i.html" >About</a></li>
          <li><a id="whatNav" href="what_i.html" >What we do</a></li>
          <li class="active"><a id="productsNav" href="products_i.html" >Products</a></li>
          <li><a id="researchNav" href="research_i.html" >Research</a></li>
          <li><a id="contactNav" href="contact_i.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- fh5co-content-section -->
  <div id="fh5co-blog-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section heading-section-i animate-box">
          <h3 style="margin-top: 70px;">Our Products</h3>
          <p>Personalized and Group Specific Drug Development Based on 4P Medicine</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a><img class="img-responsive" src="assets/images/product1.jpg" alt=""></a>
            <div class="image-popup">
              <div class="prod-title">
                <h3>Product 1</h3>
                <p>Product 1 description</p>
                <a href="#" class="btn btn-i  btn-primary" style="">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a><img class="img-responsive" src="assets/images/product2.png" alt=""></a>
            <div class="image-popup">
              <div class="prod-title">
                <h3>Product 2</h3>
                <p>Product 2 description</p>
                <a href="#" class="btn btn-i  btn-primary">Purchase</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="fh5co-blog animate-box">
            <a><img class="img-responsive" src="assets/images/product3.png" alt=""></a>
            <div class="image-popup">
              <div class="prod-title">
                <h3>Product 3</h3>
                <p>Product 3 description</p>
                <a href="#" class="btn btn-i  btn-primary">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
