---
layout: default
---


<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">i<span style="color:#FCC72C">Neuro</span></a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li><a id="aboutNav" href="about_i.html" >About</a></li>
          <li><a id="whatNav" href="what_i.html" >What we do</a></li>
          <li><a id="productsNav" href="products_i.html" >Products</a></li>
          <li class="active"><a id="researchNav" href="research_i.html" >Research</a></li>
          <li><a id="contactNav" href="contact_i.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="section" style="padding:180px 100px; font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;">
    <div class="container-research">
      {% for post in site.posts %}
      <div class="article" style="min-height: 200px; margin-bottom: 50px;">
        <h1 class="title" style="color: #222324;line-height: 1.25;font-size: 24px;font-weight: 300;word-break: break-word;"><a href="{{ post.url | relative_url }}" style="color: #222324;">{{ post.title | escape }}</a></h1>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2 class="subtitle is-5" style="font-size: 18px;margin-top: -15px;margin-bottom: 20px;color: #69707a;line-height: 1.125;font-weight: 300;word-break: break-word;">{{ post.journal }}. &nbsp; {{ post.date | date: date_format }}</h2>

        <div class="content" style="font-size: 16px;line-height: 1.75;color: #42464c;">
          {{ post.content | truncatewords: 100 | strip_html }}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</div>

</div>
