---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html"><span style="color:#FCC72C">Neuro</span>venti</a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li><a id="aboutNav" href="about_venti.html" >About</a></li>
          <li class="active"><a id="whatNav" href="what_venti.html" >What we do</a></li>
          <li><a id="productsNav" href="products_venti.html" >Products</a></li>
          <li><a id="researchNav" href="research_venti.html" >Research</a></li>
          <li><a id="contactNav" href="contact_venti.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div id="fh5co-blog-section"  style="margin-top:70px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Service</h3>
        <p>Worldwide drug development company for ASD and other neurodevelopment disorders</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-search"></i></span>
          <h3>Disease Model Development</h3>
          <p>Find candidate gene and develop the disease model for ASD</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-lab-flask"></i></span>
          <h3>Drug screening</h3>
          <p>Find the most effective drug for ASD by doing behavioral pharmacology and in vitro + in vivo mechanism research</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-user-tie"></i></span>
          <h3>Experiment and drug consultation</h3>
          <p>Find the most suitable drug for each ASD patient by doing continuous consulting and experiments</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>
