---
layout: default
---

<div id="fh5co-wrapper">

<div id="fh5co-page">

  <nav class="navbar navbar-fixed-top navbar--size--md navbar--color--white">
    <div class="container">
      <h1 class="navbar-text"><a href="index.html">i<span style="color:#009688">Neuro</span></a></h1>
      <div class="collapse navbar-collapse" id="mobileNav" style="margin-top: 11px;">
        <ul class="sf-menu sf-menu-i" id="fh5co-primary-menu">
          <li>
            <a id="homeNav" href="index.html">Home</a>
          </li>
          <li><a id="aboutNav" href="about_i.html" >About</a></li>
          <li class="active"><a id="whatNav" href="what_i.html" >What we do</a></li>
          <li><a id="productsNav" href="products_i.html" >Products</a></li>
          <li><a id="researchNav" href="research_i.html" >Research</a></li>
          <li><a id="contactNav" href="contact_i.html" >Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div id="fh5co-blog-section"  style="margin-top:70px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section heading-section-i  animate-box">
        <h3>Our Service</h3>
        <p>No.1 drug development company for FXS and other neurodevelopment disorders</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-search" style="color:#009688"></i></span>
          <h3>Disease Model Development</h3>
          <p>Develop the disease model for developmental disorder such as FXS</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-lab-flask" style="color:#009688"></i></span>
          <h3>Drug screening</h3>
          <p>Behavioral pharmacology, In vitro + in vivo mechanism research</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-user-tie" style="color:#009688"></i></span>
          <h3>Experiment and drug consultation</h3>
          <p>In vitro+in vivo experiment for developing patient-specific FXS therapeutics</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>
